* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin-bottom: 25px;
}

.contact-form-container input {
  border: 2px solid #f3f3f3;
  height: 45px;
  box-shadow: inset 0 0 2px #616161;
  border-radius: 7px;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 2px #958ada;
}

textarea {
  border: 2px solid #f3f3f3;
  height: 100px;
  box-shadow: inset 0 0 2px #616161;
  border-radius: 7px;
  resize: none;
}

textarea:focus {
  outline: none;
  box-shadow: 0px 0px 2px #958ada;
}

.got-a-question {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.got-a-question h2 {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Ubuntu";
  color: #fc6d68;
}

.got-a-question p {
  font-family: "Ubuntu";
  text-align: center;
}

h1 {
  font-size: 2.3em;
  font-family: "Ubuntu";
}

.contact-form-container {
  width: 350px;
  height: 500px;
  margin: 0 auto;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 50px;
  box-shadow: 0 5px 15px 1px rgb(0 0 0 / 15%);
  margin-bottom: 35px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.first-last-name-row {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.first-name-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 10px;
}

.last-name-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.email-column {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.message-column {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.message-column input {
  height: 70px;
}

#submit-btn {
  width: 80%;
  height: 50px;
  background-color: #fc6d68;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-family: "Ubuntu";
}

#submit-btn:hover {
  background-color: #f38d89;
}

.bookster-ad {
  
  background: #fc6d68;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  
}

.bookster-ad-btns {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

#get-book-btn {
  height: 5vw;
  width: 12vw;
  min-height: 30px;
  min-width: 100px;
  background-color: #8579d3;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-family: "Ubuntu";
  font-size: 1.2vw;
  outline: none;
  margin-right: 10px;
}

#get-book-btn:hover {
  background-color: #6b5fb9;
  cursor: pointer;
}

#meet-us-btn {
  height: 5vw;
  width: 12vw;
  min-height: 30px;
  min-width: 100px; 
  background-color: #fc6d68;
  border: 3px solid white;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-family: "Ubuntu";
  font-size: 1.2vw;
  outline: none;
}

#meet-us-btn:hover {
  background-color: white;
  color: #fc6d68;
  cursor: pointer;
}
.bookster-ad{
  width: 100%;
  height: 25vw;
  margin: 0px;
}
.bookster-ad-text {
  height: 20vw;
  width: 70vw;
  
  margin: 0 auto;
  display: flex;
  color: white;
  font-size: 2em;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.bookster-ad-text h2{
  font-size: 4vw;
}

#pattern-1 {
 
  width: 10vw;
  min-width: 100px;
  position: absolute;
  margin-top: 35vw;
  margin-left: 10vw;
  opacity: 0.7;
}

#pattern-2 {
  
  width: 10vw;
  min-width: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10vw;
  margin-bottom: 20vw;
  opacity: 0.7;
}

.contact-info {
  height: 35vh;

  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.contact-address {
  height: 90%;
  width: 400px;
  margin: 0 auto;
  font-size: 1.2em;
  font-family: "Ubuntu";
  background-color: #ebeef7;
  border-radius: 12px;
  box-shadow: 0 5px 15px 1px rgb(0 0 0 / 15%);
}

.contact-title {
  height: 25%;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  border-bottom: 1px solid #1e1e1e;
  display: flex;
  align-items: center;
}

.contact-title p {
  font-size: 1.4em;
}

.contact-info-details {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.contact-location {
  display: flex;
  align-items: center;
  width: 62%;
}

.contact-location i {
  margin-right: 20px;
  margin-left: 20px;
}

.contact-phone {
  display: flex;
  align-items: center;
  width: 62%;
}

.contact-phone i {
  margin-right: 20px;
  margin-left: 20px;
}

.contact-email {
  display: flex;
  align-items: center;
  width: 62%;
}

.contact-email i {
  margin-right: 20px;
  margin-left: 20px;
}

@media (max-width: 480px) {
  .bookster-ad-btns {
    width: 70%;
    margin-bottom: 2%;
  }

  #get-book-btn,
  #meet-us-btn {
    margin: 3%;
  }

  .image-pattern-contact {
    display: none;
  }

  #get-book-btn, #meet-us-btn {
    font-size: 2.2vw;
  }
}
