
/* remove default browser styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Header */

/* Road to knowledge */
.section-title {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 35px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.road-to-knowledge-background {
  // min-height: 535px; 
  background-color: #f3f3f3;
}

.road-to-knowledge-container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.knowledge-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100%;
  margin-bottom: 3%;
  text-align: justify;

  img {
    height: 50%;
    width: 45%;
    margin-bottom: 35px;    
  }

  .knowledge-text {
    width: 50%;  
  }
}





/* Carousel */

/* Events */

.events {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #f3f3f3;
  min-height: 50vh;
  width: 100%;
}

.events-container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.event-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 80%;  
  box-shadow: 10px 10px 6px -6px #777;

  &:hover {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }
}



.event-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
  height: 20%;
}

.event-past-img {
  background-image: url('../assets/past_event_cover.jpg');
  background-size: cover;
  background-position: center;
  height: 20vh;  
}

.event-up-img {
  background-image: url('../assets/up_event_cover.jpg');
  background-size: cover;
  height: 20vh;
  justify-self: flex-end;
}

.event-desc {
  align-self: center;
  width: 40%;
  padding-top: 3%;
  margin-bottom: 3%;
  border-top: 1px solid rgb(148, 147, 147);
  text-align: center;
}


@media (min-width: 481px) and (max-width: 800px) {
  .event-desc {
    width: 70%;
  }

  .event-title {
    flex-wrap: wrap;
  }

  .road-to-knowledge-container {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .knowledge-item {
    width: 100%;
    margin-top: 6%;
  }
}

@media (max-width: 480px) {

  .road-to-knowledge-container {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .knowledge-item {
    width: 100%;
    margin-top: 6%;
  }

  

  .events-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .event-item {
    width: 90%;
    margin: 7% 0;

    .event-desc {
      width: 60%;
    }

  }  
}


