.modal-content-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

.modal-content-login input {
  width: 90%;
  padding: 20px 20px;
  border-radius: 13px;
  border: none;
  -webkit-box-shadow: 6px 6px 13px -9px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 6px 6px 13px -9px rgba(0, 0, 0, 0.35);
  box-shadow: 6px 6px 13px -9px rgba(0, 0, 0, 0.35);
  outline: none;
  font-size: 100%;
  font-weight: bold;
}
.modal-content-login p {
  font-size: smaller;
  cursor: pointer;
}
.modal-content-login button {
  background-color: #303030;
  border-radius: 13px;
  border: none;
  font-size: 100%;
  padding: 20px 2vw;
  width: 90%;
  color: #e5e5e5;
  cursor: pointer;
  outline: none;
}
.modal-content-login button:hover {
  background-color: #303030da;
}
.modal-content-login * {
  margin-bottom: 2vh;
}

.google-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  height: 60px;
  margin: 0;
  background-color: white;
  border-radius: 12px;
  color: white;
  margin-bottom: 15px;
}

.google-auth:hover {
  cursor: pointer;
}

.google-auth img {
  height: 40%;
  width: 20%;
  margin: 0;
}

.google-auth-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  background-color: #4285f4;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0;
}

.success-login {
  font-size: 1.5em;
  color: #009e08;
  text-align: center;
}

.failed-login {
  font-size: 1.3em;
  color: crimson;
  text-align: center;
}
