.book-info .book-borrow a, .comments-form_container .comments-form .add-comment {
  border: 1px solid #949393;
  background: #303030;
  border-radius: 4px;
  font-size: 1em;
  padding: 2%;
  margin-top: 5%;
  color: #fcf9f9;
  cursor: pointer;
}

.book-info .book-borrow a:hover, .comments-form_container .comments-form .add-comment:hover {
  background: #303030c0;
}

main {
  font-family: "Montserrat";
  min-height: 85vh;
}

.book-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 40%;
}

.book-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  border-radius: 8px;
  margin: 3.5% 0;
}

.book-info .book-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

.book-info .book-img img {
  width: 100%;
}

.book-info .book-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  margin-left: 2%;
  padding-right: 3%;
}

.book-info .book-details .book-title {
  text-align: center;
  font-size: 2em;
}

.book-info .book-details .book-author {
  font-size: 1.3em;
}

.book-info .book-details .book-category {
  font-size: 1em;
}

.book-info .book-details .book-description {
  text-align: justify;
}

.book-info .book-details > * {
  margin-bottom: 3%;
}

.book-info .book-details .categ-span {
  color: #ce0606;
}

.book-info .book-details .pages-span {
  color: #5e16e4;
}

.book-info .book-borrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 20%;
  margin-left: 2%;
}

.book-info .book-borrow a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}

.comments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
}

.book-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #949393;
  padding-top: 3%;
  width: 80%;
}

.book-comments__title {
  margin-bottom: 3%;
}

.comments-form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-form_container .comments-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: 0 0 3% 2%;
}

.comments-form_container .comments-form textarea {
  border: 2px solid #f3f3f3;
  -webkit-box-shadow: inset 0 0 2px #616161;
          box-shadow: inset 0 0 2px #616161;
  border-radius: 7px;
  padding: 1%;
  font-size: 1em;
  resize: none;
}

.comments-form_container .comments-form .add-comment {
  max-width: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 2%;
  padding: 1%;
}

.hidden-comments-form {
  display: none;
}

.comment-avatar {
  max-width: 8%;
}

.comment-avatar img {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3%;
}

.comment .comment-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2%;
  width: 100%;
}

.comment .comment-content .comment-author {
  margin-bottom: 2%;
  font-size: 1em;
}

.comment .comment-content .remove-comment {
  color: rgba(250, 72, 72, 0.6);
  margin-top: 2%;
  cursor: pointer;
}

.comment .comment-content .remove-comment:hover {
  color: #fa4848;
}

@media (max-width: 480px), (max-width: 800px) {
  .menu {
    width: 100%;
    padding: 0 3%;
  }
  .book-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
    border-radius: 8px;
    margin: 3.5% 0;
  }
  .book-info .book-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin-bottom: 4%;
  }
  .book-info .book-img img {
    width: 100%;
  }
  .book-info .book-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    text-align: justify;
    margin-top: 3%;
  }
  .book-info .book-borrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
  }
  .book-info .book-borrow a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    border: 1px solid #949393;
    background: #303030;
    border-radius: 4px;
    font-size: 1em;
    padding: 2%;
    margin-top: 5%;
    color: #fcf9f9;
    cursor: pointer;
  }
  .book-info .book-borrow a:hover {
    background: #303030c0;
  }
  .comments-form textarea {
    resize: horizontal;
  }
  .comment {
    margin-bottom: 8%;
  }
}
/*# sourceMappingURL=bookDetails.css.map */