.carousel-article{
    align-self: center;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 0px 20vw;
    background-color: #f3f3f3;
   
}
.carousel-article h3{
    font-size: 30px;
}
.carousel{
    height: 400px;
    width: 100%;
    position: relative;
    overflow-y: visible;    
}

.carousel .switch-left, .carousel .switch-right{
    color: white;
    font-weight: bold;
    height: 100%;
    width: 50px;
    line-height: 400px;
    font-size: 30px;
    text-align: center;
    background-color: #303030d0;
    border-radius: 12px;
    top: 0;
    z-index: 5;
    cursor: pointer;
    -webkit-touch-callout : none;     /* iOS Safari */
    -webkit-user-select   : none;     /* Chrome/Safari/Opera */
    -khtml-user-select    : none;     /* Konqueror */
    -moz-user-select      : none;     /* Firefox */
    -ms-user-select       : none;     /* Internet Explorer/Edge */
}
.carousel .switch-left{
    position: absolute;
    left: -20px;
}
.carousel .switch-right{
    position: absolute;
    right: -20px;
}
.image-for-carousel{
    
    max-width:180px;
    min-width: 180px;
    min-height: 250px;
    max-height: 250px;
    background-size: cover;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
    
    
}
.carousel-box{
   

    height: 400px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
    
    
    
}
.carousel-box .image-for-carousel:hover{
    
    z-index:5 !important; 
    transform: scale(1.4);
    

}