.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  /* visibility:hidden; */
}
.modal {
  background-color: #ebeaf5;
  width: 500px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding: 15px 10px;
  margin-bottom: 30px;
}
.modal-header h2 {
  font-size: 20px;
}
.close-modal {
  border-radius: 50%;
  padding: 5px 11px;
  font-size: 17px;

  background-color: #d4d1e1;
  border-color: transparent;
  color: #4f4e54;
  cursor: pointer;
  outline: none;
}
.close-modal:hover {
  background-color: #5d5d5e5e;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
