* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 0;
}

.profile-content {
  display: none;
}

.restricted-content {
  display: none;
  width: 100%;
  height: 80%;
}

.restricted-content img {
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.restricted-content p {
  font-size: 2em;
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
  font-family: "Montserrat";
}

.restricted {
  display: none;
}

.profile-main {
  height: 93vh;
}

.profile-content {
  height: 100%;
  width: 100%;
  display: none;
}

.user-data {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  border-right: 2px solid #aaaaaa;
}

.user-data-info {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid #aaaaaa;
}

.user-data-menu {
  height: 70%;
}
.user-avatar {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 5px 15px 1px rgb(0 0 0 / 30%);
}
.user-content {
  width: 80%;
  overflow-y: scroll;
}

.your-information {
  display: none;
}

.books-title-button-group {
  display: flex;
}

.books-title-button-group button {
  margin-left: 25px;
  background-color: #2b2b2b;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 10%;
  border: none;
  outline: none;
}
.books-title-button-group button:hover {
  cursor: pointer;
  background-color: #1b1b1b;
}

.my-added-books-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 55px;
  margin-top: 25px;
  
}

.my-books-item {
  height: 35vh;
  width: 20vh;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #1e1e1e;
  border-radius: 13px;
}

.my-books-status {
  text-align: center;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  
}

.my-books-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85%;
  width: 100%;
 
  transition: all 0.2s ease-in-out;
}

.my-books-cover:hover {
  /* transform: scale(1.2); */
  transform: translateY(-20px) scale(1.1);
  cursor: pointer;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
}

.my-books-btn-group {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: space-evenly;
}

.my-books-btn-group button {
  background-color: #fde396;
  border: none;
  width: 35%;
  color: #1e1e1e;
  font-weight: bold;
  border-radius: 12px;
  outline: none;
}

.my-books-btn-group button:hover {
  cursor: pointer;
  background-color: #f8d058;
}

.my-borrowed-books-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 55px;
  margin-top: 25px;
}

.my-borrowed-item {
  height: 35vh;
  width: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #1e1e1e;
  border-radius: 13px;
  border: 1px solid #bebebe;
}

.my-borrowed-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95%;
  width: 100%;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  transition: all 0.2s ease-in-out;
}

.my-borrowed-cover:hover {
  transform: translateY(-20px) scale(1.1);
  border: 1px solid #bebebe;
  cursor: pointer;
}

.my-borrowed-item button {
  background-color: #fde396;
  border: none;
  width: 35%;
  color: #1e1e1e;
  font-weight: bold;
  border-radius: 12px;
  outline: none;
  height: 5%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-borrowed-item button:hover {
  cursor: pointer;
  background-color: #f8d058;
}

.books-dashboard-title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", "Ubuntu";
  margin-top: 35px;
  margin-bottom: 45px;
}

.my-own-books {
  margin-left: 25px;
  font-size: 2.3em;
  font-family: "Montserrat", "Ubuntu";
}

.user-data-menu {
  height: 65%;
}

.user-name {
  font-weight: bold;
}

.profile-sign-out {
  height: 5%;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #2b2b2b;
  border: none;
  border-radius: 5px;
  color: White;
  font-size: 0.9em;
}

.profile-sign-out:hover {
  cursor: pointer;
  background-color: #1b1b1b;
}

.user-data-menu ul {
  height: 20%;
}

.user-data-menu li {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
  font-weight: bold;
  background-color: #2b2b2b;
  border: 1px solid #888888;
}

.user-data-menu li:hover {
  background-color: #1b1b1b;
  cursor: pointer;
}

/* wishlist styling */

.my-wishlist {
  display: none;
}

.my-wishlist-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 55px;
  margin-top: 25px;
}

.my-wishlist-item {
  height: 35vh;
  width: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #1e1e1e;
  border-radius: 13px;
  border: 1px solid #bebebe;
}

.my-wishlist-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95%;
  width: 100%;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  transition: all 0.2s ease-in-out;
}

.my-wishlist-cover:hover {
  transform: translateY(-20px) scale(1.1);
  border: 1px solid #bebebe;
  cursor: pointer;
}

.my-wishlist-item button {
  background-color: #fde396;
  border: none;
  width: 35%;
  color: #1e1e1e;
  font-weight: bold;
  border-radius: 12px;
  outline: none;
  height: 5%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-wishlist-item button:hover {
  cursor: pointer;
  background-color: #f8d058;
}

.books-info-title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", "Ubuntu";
  margin-top: 35px;
  margin-bottom: 45px;
}

.your-information {
  height: 80%;
  margin-top: 50px;
}

.books-info-container {
  height: 100%;
  width: 45%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 12px;
}

.books-info-container p {
  border-bottom: 3px solid rgb(97, 85, 175);
  border-radius: 17px;
  font-size: 1.5em;
  font-family: "Ubuntu";
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(149, 138, 218);
  font-weight: bold;
  color: white;
  margin-top: 10px;
}
.fa-user{
  color: rgba(182, 182, 182, 0.788);
  
}
.icon-for-user{
  
  visibility: hidden;
}


.user-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  visibility: visible;
  border-color: rgb(182, 182, 182);
  border-width: 5px;
  border-style: solid;
  
 
}
.user-avatar:hover .icon-for-user{
  visibility: visible;
}


@media (min-width: 481px) and (max-width: 800px) {

  .user-data {
    width: 30%;
  }

  .books-info-container {
    width: fit-content;
    max-width: 80%;
  }

  .books-info-container p {
    padding: 0 4%;
    text-align: center;
  }

  .books-title-button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .books-title-button-group button {
    width: 30%;
    margin: 2%;
    padding: 1%;
  }

  .my-own-books {
    margin: 3% 0 5%;
    text-align: center;
  }

  .my-added-books-container, .my-borrowed-books-container, .my-wishlist-container {
    margin: 0 0 5%;
    justify-content: space-evenly;
  }

  .my-books-item, .my-borrowed-item, .my-wishlist-item {
    margin-top: 5%;
  }

}

@media (max-width: 480px) {
  .profile-main {
    height: 100%;
  }

  .books-info-container {
    width: fit-content;
    max-width: 80%;
  }

  .books-info-container p {
    padding: 0 4%;
    text-align: center;
  }

  .books-title-button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .books-title-button-group button {
    width: 30%;
    margin: 2%;
    padding: 1%;
    font-size: 1.2em;
  }

  .my-own-books {
    margin: 0 4%;
    text-align: center;
  }

  .my-added-books-container, .my-borrowed-books-container, .my-wishlist-container {
    flex-direction: column;
    margin: 5% 0;
  }

  .my-books-item, .my-borrowed-item, .my-wishlist-item {
    margin: 6% 0 0;
    align-self: center;
    height: 40vh;
    min-width: 25vh;
  }


  .my-books-status {
    height: auto;
  }

  .profile-content {
    flex-direction: column;
  }

  .user-data, .user-content {
    width: 100%;
  }

  .user-data {
    height: 60vh;
  }

  .user-data-info {
    height: 30%;
    display: flex;
    flex-direction: column;
  }

  .user-avatar {
    width: 15vw;
    height: 15vw;
  }

  .user-data-menu ul {
    height: 50%;
  }

  .profile-sign-out {
    height: 10%;
  }

  .your-information {
    height: 100%;
  }
}
